Repository dbadrian/zest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
    patch:
      backend:
        target: 50%
        flags:
          - backend
      frontend:
        target: 50%
        flags:
          - frontend

comment:
  layout: "diff, flags, files"

flags:
  backend:
    carryforward: false
    paths:
      - backend/
  frontend:
    carryforward: false
    paths:
      - frontend/

github_checks:
  annotations: true

Bumping version to 0.1.25
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

adding protoredirect
  backend/zest/settings/production.py
  docs/docs/setup/hetzner.md
Due: backend

adding sslredirect
  backend/zest/settings/production.py
  docs/docs/setup/hetzner.md
Due: backend

update docs
  docs/docs/setup/hetzner.md
Due: none

Bumping version to 0.1.26
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Add setting to switch on silk on production on demand
  backend/zest/settings/base/apps.py
  backend/zest/settings/base/django.py
  backend/zest/settings/dev.py
  backend/zest/settings/production.py
  backend/zest/urls.py
Due: backend

Bumping version to 0.1.27
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

only include silk if everything is added
  backend/zest/urls.py
Due: backend

Bumping version to 0.1.28
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Unify docker; adapt tests due to breakage of unit ordering
  backend/units/tests/test_api.py
  docker-compose.yml
  docker/entrypoint.sh
  docker/main.Dockerfile
Due: backend

Adjust db and user in .env
  .github/workflows/build-docker.yaml
Due: none

Adjust db and user in .env/2
  .github/workflows/test.yml
Due: none

Adjust taskfile
  Taskfile.yml
Due: none

Set new default args
  docker/main.Dockerfile
Due: none

Use correct docker build file
  .github/workflows/test.yml
  docker/main.Dockerfile
Due: none

Set g/uid in workflow for docker build
  .github/workflows/test.yml
  docker/main.Dockerfile
Due: none

Set g/uid in workflow for docker build/2
  .github/workflows/build-docker.yaml
  .github/workflows/test.yml
  docker/main.Dockerfile
Due: none

Fix dockerfile
  docker/main.Dockerfile
Due: none

Fix uid/gid
  .github/workflows/build-docker.yaml
  .github/workflows/test.yml
Due: none

remove rm from docker runs
  Taskfile.yml
Due: none

healthcekc for backend to ensure its running correctly
  Taskfile.yml
  docker-compose.yml
  docker/entrypoint.sh
Due: none

depend on docker start in backend test
  Taskfile.yml
Due: none

depend on docker start in frontend test
  Taskfile.yml
  docker/main.Dockerfile
Due: none

start docker in the flutter frontend test
  .github/workflows/test.yml
Due: none

Fix compose file ports and flutter tests to use correct port after refactoring
  docker-compose.yml
  frontend/test/shared_routines.dart
Due: frontend

Squash commits for docker refactoring
  .github/workflows/build-android.yaml
  .github/workflows/build-docker.yaml
  .github/workflows/build-linux.yaml
  .github/workflows/build-windows.yaml
  .github/workflows/test.yml
  backend/poetry.lock
  backend/pyproject.toml
  docker/entrypoint.sh
  docker/main.Dockerfile
Due: backend

Flutter action caching/2
  .github/workflows/build-linux.yaml
  .github/workflows/test.yml
Due: none

Splitting flutter workflows
  .github/workflows/test.yml
Due: none

Splitting flutter workflows/2
  .github/workflows/test.yml
Due: none

cache buildrunner
  .github/workflows/test.yml
Due: none

cache buildrunner/2
  .github/workflows/test.yml
Due: none

cache buildrunner/3
  .github/workflows/test.yml
Due: none

cache buildrunner/4
  .github/workflows/test.yml
Due: none

cache buildrunner/5
  .github/workflows/test.yml
Due: none

cache buildrunner/6
  .github/workflows/test.yml
Due: none

cache buildrunner/7
  .github/workflows/test.yml
Due: none

cache buildrunner/8
  .github/workflows/test.yml
Due: none

cache buildrunner/9
  .github/workflows/test.yml
Due: none

update docs on nginx config
  docs/docs/setup/hetzner.md
Due: none

Add a service provider that checks the current network status
  frontend/lib/api/api_status_provider.dart
  frontend/lib/api/api_utils.dart
  frontend/lib/ui/main_scaffold.dart
  frontend/lib/utils/default_scaffold.dart
  frontend/lib/utils/networking.dart
  frontend/pubspec.lock
Due: frontend
