Repository dbadrian/zest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
    patch:
      backend:
        target: 50%
        flags:
          - backend
      frontend:
        target: 50%
        flags:
          - frontend

comment:
  layout: "diff, flags, files"

flags:
  backend:
    carryforward: false
    paths:
      - backend/
  frontend:
    carryforward: false
    paths:
      - frontend/

github_checks:
  annotations: true

removing gemini code as backend will handle it
  frontend/lib/extra/gemini.dart
Due: frontend

Many fixes, refactoring more fixes
  frontend/lib/api/api_service.dart
  frontend/lib/api/api_status_provider.dart
  frontend/lib/api/responses/food_list_response.dart
  frontend/lib/api/responses/recipe_category_list_response.dart
  frontend/lib/authentication/auth_service.dart
  frontend/lib/authentication/reauthentication_dialog.dart
  frontend/lib/core/cache/cache_manager.dart
  frontend/lib/core/cache/persistent_cache.dart
  frontend/lib/extra/api_status_provider.dart
  frontend/lib/main.dart
  frontend/lib/recipes/controller/details_controller.dart
  frontend/lib/recipes/controller/search_controller.dart
  frontend/lib/recipes/models/recipe.dart
  frontend/lib/recipes/models/recipe_draft.dart
  frontend/lib/recipes/models/recipe_list_item.dart
  frontend/lib/recipes/recipe_repository.dart
  frontend/lib/recipes/screens/edit_new.dart
  frontend/lib/recipes/screens/recipe_details.dart
  frontend/lib/recipes/screens/recipe_edit.dart
  frontend/lib/recipes/screens/recipe_list_tile.dart
  frontend/lib/recipes/screens/recipe_search.dart
  frontend/lib/recipes/static_data_repository.dart
  frontend/lib/routing/app_router.dart
  frontend/lib/routing/router_notifier.dart
  frontend/lib/settings/settings_provider.dart
  frontend/lib/theme/theme_definitions.dart
  frontend/lib/ui/login_screen.dart
  frontend/lib/ui/main_scaffold.dart
  frontend/lib/ui/widgets/debounced_autocomplete.dart
  frontend/lib/ui/widgets/generics.dart
  frontend/lib/utils/cache.dart
  frontend/lib/utils/networking.dart
  frontend/pubspec.lock
  frontend/pubspec.yaml
  frontend/test/integration_test/recipe_create_test.dart
Due: frontend

More fixes and ffeatures
  frontend/lib/core/cache/cache_manager.dart
  frontend/lib/recipes/controller/details_controller.dart
  frontend/lib/recipes/controller/edit_controller.dart
  frontend/lib/recipes/controller/edit_providers.dart
  frontend/lib/recipes/recipe_repository.dart
  frontend/lib/recipes/screens/edit_new.dart
  frontend/lib/recipes/screens/recipe_details.dart
  frontend/lib/recipes/screens/recipe_list_tile.dart
  frontend/lib/recipes/screens/recipe_search.dart
  frontend/lib/recipes/static_data_repository.dart
  frontend/lib/routing/app_router.dart
Due: frontend

more fices whatever
  frontend/lib/recipes/models/recipe.dart
  frontend/lib/recipes/screens/edit_new.dart
  frontend/lib/recipes/screens/recipe_details.dart
  frontend/lib/recipes/screens/recipe_list_tile.dart
Due: frontend

Improve rendering of integer numbers in the details view
  frontend/lib/recipes/screens/recipe_details.dart
Due: frontend

Fix servings edit field
  frontend/lib/recipes/screens/edit_new.dart
Due: frontend

fix visualization
  frontend/lib/recipes/screens/edit_new.dart
  frontend/lib/recipes/screens/recipe_details.dart
  frontend/lib/recipes/screens/recipe_list_tile.dart
Due: frontend

bunch of fixes for ingredient column, servings calculation
  frontend/lib/recipes/controller/details_controller.dart
  frontend/lib/recipes/screens/edit_new.dart
  frontend/lib/recipes/screens/recipe_details.dart
  frontend/lib/recipes/screens/recipe_edit.dart
  frontend/lib/routing/app_router.dart
  frontend/lib/ui/main_scaffold.dart
Due: frontend

Improve ingredient visualization and translation
  frontend/lib/recipes/controller/details_controller.dart
  frontend/lib/recipes/controller/edit_providers.dart
  frontend/lib/recipes/models/recipe.dart
  frontend/lib/recipes/screens/recipe_details.dart
  frontend/lib/recipes/screens/recipe_edit.dart
Due: frontend

add translation and single/multi to ingredient column
  frontend/lib/recipes/screens/recipe_details.dart
Due: frontend

better rendering
  frontend/lib/recipes/models/recipe.dart
  frontend/lib/recipes/screens/recipe_details.dart
  frontend/lib/recipes/screens/recipe_edit.dart
  frontend/lib/recipes/static_data_repository.dart
Due: frontend

add forgotten providers
  frontend/lib/recipes/controller/providers.dart
Due: frontend

and awful amount of changes
  frontend/android/app/src/main/kotlin/com/example/fluttertest/MainActivity.kt
  frontend/ios/Runner/Info.plist
  frontend/lib/api/api_service.dart
  frontend/lib/api/api_status_provider.dart
  frontend/lib/authentication/auth_interceptor.dart
  frontend/lib/authentication/reauthentication_dialog.dart
  frontend/lib/core/network/http_client.dart
  frontend/lib/core/network/interceptor.dart
  frontend/lib/core/network/interceptors/logging_interceptor.dart
  frontend/lib/recipes/controller/details_controller.dart
  frontend/lib/recipes/controller/search_controller.dart
  frontend/lib/recipes/recipe_repository.dart
  frontend/lib/recipes/screens/recipe_details.dart
  frontend/lib/recipes/screens/recipe_edit.dart
  frontend/lib/recipes/static_data_repository.dart
  frontend/lib/routing/app_router.dart
  frontend/lib/settings/settings_screen.dart
  frontend/lib/ui/login_screen.dart
  frontend/lib/ui/main_scaffold.dart
  frontend/lib/ui/splash_screen.dart
  frontend/linux/flutter/generated_plugins.cmake
  frontend/pubspec.lock
  frontend/pubspec.yaml
Due: frontend

Lots of small fixes and clean up of todos
  frontend/lib/api/api_status_provider.dart
  frontend/lib/authentication/reauthentication_dialog.dart
  frontend/lib/config/constants.dart
  frontend/lib/config/zest_api.dart
  frontend/lib/main.dart
  frontend/lib/recipes/controller/details_controller.dart
  frontend/lib/recipes/screens/recipe_details.dart
  frontend/lib/recipes/screens/recipe_edit.dart
  frontend/lib/recipes/screens/recipe_list_tile.dart
  frontend/lib/recipes/static_data_repository.dart
  frontend/lib/routing/app_router.dart
  frontend/lib/settings/settings_provider.dart
  frontend/lib/settings/settings_screen.dart
  frontend/lib/ui/login_screen.dart
  frontend/lib/ui/main_scaffold.dart
  frontend/lib/ui/splash_screen.dart
  frontend/lib/ui/widgets/debounced_autocomplete.dart
  frontend/lib/utils/networking.dart
Due: frontend

Fix a shit load of auth/timout/server errors
  frontend/android/app/src/main/AndroidManifest.xml
  frontend/lib/authentication/reauthentication_dialog.dart
  frontend/lib/recipes/controller/details_controller.dart
  frontend/lib/recipes/screens/recipe_details.dart
  frontend/lib/recipes/screens/recipe_edit.dart
  frontend/lib/routing/app_router.dart
  frontend/lib/utils/networking.dart
Due: frontend

fix a bunch of troubles
  frontend/lib/recipes/controller/details_controller.dart
  frontend/lib/recipes/screens/recipe_edit.dart
Due: frontend

get rid of a lot of depcreated old legacy code
  frontend/lib/api/api_service.dart
  frontend/lib/utils/networking.dart
Due: frontend

Comment on brokenish updat feature
  frontend/lib/api/api_service.dart
Due: frontend

some clean up some fixes
  frontend/lib/api/api_service.dart
  frontend/lib/main.dart
  frontend/lib/recipes/screens/recipe_edit.dart
  frontend/lib/routing/app_router.dart
  frontend/lib/ui/login_screen.dart
  frontend/test/integration_test/login_test.dart
  frontend/test/integration_test/recipe_create_test.dart
  frontend/test/shared_routines.dart
  frontend/test/widget_test.dart
Due: frontend

Add some code and fix tests
  frontend/lib/camera/screens.dart
  frontend/lib/recipes/screens/recipe_edit.dart
  frontend/test/integration_test/recipe_create_test.dart
Due: frontend

Refactor backend scripts a bit
  backend/.env.local
  backend/Dockerfile
  backend/Taskfile.yml
  backend/scripts/generate-client.sh
  backend/scripts/generate_recipes.py
  backend/scripts/index_recipes.py
  backend/scripts/install_fixtures.py
  backend/scripts/scratch/build-push.sh
  backend/scripts/scratch/build.sh
  backend/scripts/scratch/deploy.sh
  backend/scripts/scratch/prestart-test.sh
  backend/scripts/scratch/prestart.sh
  backend/scripts/scratch/test-local.sh
  backend/scripts/scratch/test.sh
Due: backend

clean backend; add coverage
  backend/Taskfile.yml
  backend/docker-compose.test.yml
  backend/docker-compose.yml
  backend/pyproject.toml
  backend/scripts/index_recipes.py
  backend/scripts/scratch/build-push.sh
  backend/scripts/scratch/build.sh
  backend/scripts/scratch/deploy.sh
  backend/scripts/scratch/prestart-test.sh
  backend/scripts/scratch/prestart.sh
  backend/scripts/scratch/test-local.sh
  backend/scripts/scratch/test.sh
  backend/uv.lock
Due: backend

bump version
  bump_version.sh
Due: none

Bumping version to 0.1.48
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

trying to update workflows
  .github/workflows/test.yml
  backend/.gitignore
  backend/Taskfile.yml
  backend/uv.lock
  codecov.yml
Due: backend

fix backend test
  .github/workflows/test.yml
Due: none

add static folder
  backend/Taskfile.yml
  backend/static/email-verification-failure.html
  backend/static/email-verification-success.html
  backend/static/failure.html
Due: backend

attempting to fix frontend test
  .github/workflows/test.yml
  backend/Dockerfile
Due: backend

simplify frontend process??
  .github/workflows/test.yml
Due: none

another attempt
  .github/workflows/test.yml
Due: none

drop prepare frontend
  .github/workflows/test.yml
Due: none

Bumping version to 0.1.49
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

deactivate camera for now
  backend/uv.lock
  frontend/lib/camera/screens.dart
  frontend/lib/routing/app_router.dart
  frontend/lib/ui/main_scaffold.dart
  frontend/linux/flutter/generated_plugins.cmake
  frontend/pubspec.lock
  frontend/pubspec.yaml
Due: backend, frontend

Bumping version to 0.1.50
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

readd camera
  backend/uv.lock
  frontend/lib/camera/screens.dart
  frontend/lib/routing/app_router.dart
  frontend/pubspec.lock
  frontend/pubspec.yaml
Due: backend, frontend

Bumping version to 0.1.51
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Switch to jdk 17 to build android
  .github/workflows/build-android.yaml
  backend/uv.lock
Due: backend

Bumping version to 0.1.52
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend
