Repository dbadrian/zest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
    patch:
      backend:
        target: 50%
        flags:
          - backend
      frontend:
        target: 50%
        flags:
          - frontend

comment:
  layout: "diff, flags, files"

flags:
  backend:
    carryforward: false
    paths:
      - backend/
  frontend:
    carryforward: false
    paths:
      - frontend/

github_checks:
  annotations: true

try and test the docker export
  .github/workflows/build-docker.yaml
Due: none

reshuffle docker
  docker-compose.yml
Due: none

try manual again
  .github/workflows/build-docker.yaml
Due: none

try manual again/2
  .github/workflows/build-docker.yaml
Due: none

try manual again/3/
  .github/workflows/build-docker.yaml
Due: none

try manual again/4
  .github/workflows/build-docker.yaml
Due: none

try manual again/5
  .github/workflows/build-docker.yaml
Due: none

try manual again/6
  .github/workflows/build-docker.yaml
Due: none

try manual again/7
  .github/workflows/build-docker.yaml
Due: none

try manual again/8
  .github/workflows/build-docker.yaml
Due: none

remove unnecessary extra build
  .github/workflows/build-docker.yaml
Due: none

remove unnecessary action step
  .github/workflows/build-docker.yaml
Due: none

Use new workflow in test
  .github/workflows/test.yml
Due: none

Add workflow dispatch to test.yml
  .github/workflows/test.yml
Due: none

delete gitleaks from build docker
  .github/workflows/build-docker.yaml
Due: none

delete more old stuff, switch branch
  .github/workflows/build-docker.yaml
  .github/workflows/test.yml
Due: none

delete more old stuff, switch branch/2
  .github/workflows/test.yml
Due: none

drop build from taskfile
  Taskfile.yml
Due: none

simplify backend dockerfile a bit
  backend/Dockerfile
Due: backend

try running stuff explicitly
  .github/workflows/test.yml
Due: none

fix
  .github/workflows/test.yml
Due: none

make psotgres local again
  docker-compose.yml
Due: none

make psotgres local again/2
  .github/workflows/build-docker.yaml
Due: none

make psotgres local again/3
  docker-compose.yml
Due: none

Fix postgres
  docker-compose.yml
Due: none

Switch postgres back to dockerfile hoping for caching
  .github/workflows/build-docker.yaml
  .github/workflows/test.yml
  docker-compose.yml
Due: none

Switch postgres back to dockerfile hoping for caching/2
  .github/workflows/build-docker.yaml
Due: none

reuse docker in frontend test
  .github/workflows/test.yml
Due: none

init backend in docker build
  .github/workflows/build-docker.yaml
  .github/workflows/test.yml
Due: none

move where to init backend
  .github/workflows/build-docker.yaml
  .github/workflows/test.yml
Due: none

simplify dockerfile
  backend/Dockerfile
Due: backend

simplify dockerfile/2
  docker/postgres.Dockerfile
  docker/redis.Dockerfile
Due: none

Fix crash when server is unreachable but user is logged in. Definitely needs better handling
  frontend/lib/main.dart
  frontend/lib/recipes/controller/search_controller.dart
  frontend/pubspec.lock
  frontend/windows/flutter/generated_plugin_registrant.cc
  frontend/windows/flutter/generated_plugins.cmake
Due: frontend

only build docker on demand
  .github/workflows/build-docker.yaml
Due: none

Adding a script to generate recipes for testing/debugging
  backend/Dockerfile
  backend/generate_recipes.py
  backend/poetry.lock
  backend/pyproject.toml
  frontend/pubspec.lock
Due: backend, frontend

Bumping version to 0.1.13
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Adding checks to pk filtering in foods api to prevent invalid data
  backend/foods/api.py
Due: backend

Adding -y to dockerfiles
  docker/postgres.Dockerfile
  docker/redis.Dockerfile
Due: none

Moving some test files around
  frontend/lib/api/api_service.dart
  frontend/pubspec.lock
  frontend/pubspec.yaml
  frontend/test/integration_test/login_test.dart
  frontend/test/integration_test/recipe_create_test.dart
  frontend/test/shared_routines.dart
Due: frontend

Update the gradle settings in android project
  frontend/android/.gitignore
  frontend/android/gradle/wrapper/gradle-wrapper.properties
  frontend/android/settings.gradle
Due: frontend
