Repository dbadrian/zest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Set windows id to davad
  .github/workflows/build-windows.yaml
Due: none

Packages
  backend/pyproject.toml
  backend/uv.lock
Due: backend

Bumping version to 0.2.11
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Undo windows action change
  .github/workflows/build-windows.yaml
  backend/uv.lock
Due: backend

Bumping version to 0.2.12
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Fix updat for windows
  backend/uv.lock
  frontend/lib/ui/main_scaffold.dart
  frontend/lib/utils/update.dart
Due: backend, frontend

Bumping version to 0.2.13
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Fix updat for windows/2
  backend/uv.lock
  frontend/lib/ui/main_scaffold.dart
Due: backend, frontend

Bumping version to 0.2.14
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Upgrade dependencies major; apply fixes; resolve v2-v3 riverpod upgrades
  Taskfile.yml
  backend/uv.lock
  frontend/lib/api/api_service.dart
  frontend/lib/api/api_status_provider.dart
  frontend/lib/api/responses/food_list_response.dart
  frontend/lib/api/responses/recipe_category_list_response.dart
  frontend/lib/api/responses/recipe_list_response.dart
  frontend/lib/api/responses/unit_list_response.dart
  frontend/lib/authentication/auth_service.dart
  frontend/lib/authentication/auth_state.dart
  frontend/lib/authentication/reauthentication_dialog.dart
  frontend/lib/authentication/user.dart
  frontend/lib/core/providers/http_client_provider.dart
  frontend/lib/main.dart
  frontend/lib/recipes/controller/details_controller.dart
  frontend/lib/recipes/controller/search_controller.dart
  frontend/lib/recipes/recipe_repository.dart
  frontend/lib/recipes/screens/recipe_details.dart
  frontend/lib/recipes/screens/recipe_edit.dart
  frontend/lib/recipes/screens/recipe_list_tile.dart
  frontend/lib/recipes/screens/recipe_search.dart
  frontend/lib/recipes/static_data_repository.dart
  frontend/lib/routing/app_router.dart
  frontend/lib/settings/settings_provider.dart
  frontend/lib/settings/settings_screen.dart
  frontend/lib/ui/login_screen.dart
  frontend/lib/ui/main_scaffold.dart
  frontend/lib/ui/widgets/loader_dialog.dart
  frontend/lib/utils/cache.dart
  frontend/lib/utils/languages.dart
  frontend/lib/utils/loading_indicator.dart
  frontend/lib/utils/persistance.dart
  frontend/lib/utils/throttle.dart
  frontend/macos/Flutter/GeneratedPluginRegistrant.swift
  frontend/pubspec.lock
  frontend/pubspec.yaml
  frontend/test/integration_test/login_test.dart
  frontend/test/integration_test/recipe_create_test.dart
  frontend/test/shared_routines.dart
Due: backend, frontend

Fix tests up
  frontend/lib/api/api_status_provider.dart
  frontend/lib/extra/api_status_provider.dart
  frontend/lib/main.dart
  frontend/lib/recipes/screens/recipe_details.dart
  frontend/lib/recipes/screens/recipe_edit.dart
  frontend/lib/ui/login_screen.dart
  frontend/lib/ui/main_scaffold.dart
  frontend/lib/utils/utils.dart
  frontend/test/integration_test/login_test.dart
  frontend/test/integration_test/recipe_create_test.dart
  frontend/test/shared_routines.dart
Due: frontend

Bumping version to 0.2.15
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Commit forgotten taskfile
  backend/uv.lock
  frontend/Taskfile.yml
Due: backend, frontend

Bumping version to 0.2.16
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Give username to first user
  backend/.env.test
  backend/app/core/config.py
  backend/app/core/mail.py
  backend/app/db.py
  backend/docker-compose.yml
  backend/uv.lock
Due: backend

Bumping version to 0.2.17
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

add create new user methof
  backend/app/auth/auth.py
  backend/app/auth/email.py
  backend/scripts/create_new_user.py
  backend/uv.lock
Due: backend

Bumping version to 0.2.18
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Fix script
  backend/app/auth/auth.py
  backend/scripts/create_new_user.py
  backend/uv.lock
Due: backend

Bumping version to 0.2.19
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Trying to fix the mailing system
  backend/app/auth/auth.py
  backend/app/auth/email.py
  backend/app/core/mail.py
  backend/scripts/create_new_user.py
  backend/uv.lock
Due: backend

Bumping version to 0.2.20
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Fix showing user recipes only
  backend/app/recipes/routes.py
  backend/uv.lock
  frontend/lib/api/api_service.dart
  frontend/lib/recipes/recipe_repository.dart
  frontend/lib/recipes/screens/recipe_search.dart
Due: backend, frontend

Bumping version to 0.2.21
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Fix unit tests
  backend/app/auth/auth.py
  backend/uv.lock
Due: backend

Bumping version to 0.2.22
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Fix unit tests/2
  backend/app/auth/auth.py
  backend/uv.lock
Due: backend

Bumping version to 0.2.23
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Add language family system
  backend/Taskfile.yml
  backend/alembic.ini
  backend/alembic/versions/2025-12-23-27_initial_table.py
  backend/alembic/versions/2025-12-23-40_initial_foreign_keys.py
  backend/alembic/versions/2026-03-22-09-50-40_initial_baseclass_migration.py
  backend/alembic/versions/2026-03-22-09-51-20_initial_fk_migration.py
  backend/app/recipes/models.py
  backend/app/recipes/routes.py
  backend/app/recipes/schemas.py
  backend/app/recipes/search.py
  backend/uv.lock
Due: backend

dont go to editor after translate
  bump_version.sh
  frontend/lib/recipes/screens/recipe_details.dart
Due: frontend

Bumping version to 0.2.24
  backend/app/version.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

bump script updated to force tests
  bump_version.sh
Due: none

Bumping version to 0.2.25
  backend/app/version.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

bump script updated to force tests; fix tests
  backend/app/recipes/routes.py
  bump_version.sh
Due: backend

Fix get_recipes routes
  backend/app/core/config.py
  backend/app/db.py
  backend/app/main.py
  backend/app/recipes/routes.py
Due: backend

Change from_orm to model_validate and copy to model_copy
  backend/app/recipes/routes.py
Due: backend

Uncomment actual bump functionality
  bump_version.sh
Due: none

Bumping version to 0.2.26
  backend/app/version.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Send to recipe page not editor after using AI tools
  frontend/lib/ui/main_scaffold.dart
Due: frontend

Send to recipe page not editor after using translate
  frontend/lib/recipes/screens/recipe_details.dart
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
