Repository dbadrian/zest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
    patch:
      backend:
        target: 50%
        flags:
          - backend
      frontend:
        target: 50%
        flags:
          - frontend

comment:
  layout: "diff, flags, files"

flags:
  backend:
    carryforward: false
    paths:
      - backend/
  frontend:
    carryforward: false
    paths:
      - frontend/

github_checks:
  annotations: true

Utilize network status to gray out create button
  frontend/lib/api/api_status_provider.dart
  frontend/lib/recipes/controller/edit_controller.dart
  frontend/lib/ui/main_scaffold.dart
  frontend/lib/utils/networking.dart
Due: frontend

Partial fixing of taskfile, still a total mess
  Taskfile.yml
Due: none

Refactor settings state and enforce a logout if the url is changed
  frontend/lib/api/api_service.dart
  frontend/lib/api/api_utils.dart
  frontend/lib/config/zest_api.dart
  frontend/lib/main.dart
  frontend/lib/recipes/controller/details_controller.dart
  frontend/lib/recipes/controller/edit_controller.dart
  frontend/lib/recipes/controller/search_controller.dart
  frontend/lib/recipes/screens/recipe_details.dart
  frontend/lib/recipes/screens/recipe_list_tile.dart
  frontend/lib/recipes/screens/widgets/ingredient_form.dart
  frontend/lib/recipes/screens/widgets/translatable_field.dart
  frontend/lib/settings/settings_provider.dart
  frontend/lib/settings/settings_screen.dart
Due: frontend

improve error texts
  frontend/lib/settings/settings_screen.dart
Due: frontend

improve test workflow by removing unneeded dependency
  .github/workflows/test.yml
Due: none

Header warning about HTTPS
  frontend/lib/api/api_service.dart
  frontend/lib/api/api_status_provider.dart
  frontend/lib/authentication/auth_service.dart
  frontend/lib/settings/settings_screen.dart
  frontend/lib/ui/main_scaffold.dart
  frontend/lib/utils/networking.dart
Due: frontend

Fixing postWithRedirects
  frontend/lib/utils/networking.dart
Due: frontend

Add a script to update/install zest on archlinux
  scripts/update_zest
Due: none

Dropping package mode
  backend/pyproject.toml
Due: backend

Bumping version to 0.1.29
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Making draftId required and fixing invalid edit provider calls
  frontend/lib/recipes/controller/edit_controller.dart
  frontend/lib/recipes/screens/recipe_edit.dart
Due: frontend

Bumping version to 0.1.30
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Fix draft search refresh/dispose/reload
  frontend/lib/recipes/controller/draft_controller.dart
  frontend/lib/recipes/controller/edit_controller.dart
  frontend/lib/recipes/screens/recipe_draft_search.dart
  frontend/lib/recipes/screens/recipe_edit.dart
  frontend/lib/recipes/screens/recipe_list_tile.dart
Due: frontend

Always reload draftdb to be sure, before going to editor
  frontend/lib/recipes/controller/draft_controller.dart
Due: frontend

Bumping version to 0.1.31
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

provide generic policy for gplay store
  frontend/policy.md
Due: frontend

add logo and asset
  frontend/assets/zest.png
Due: frontend

Add new logo
  frontend/android/app/src/main/ic_launcher-playstore.png
  frontend/android/app/src/main/res/drawable/ic_launcher_background.xml
  frontend/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  frontend/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  frontend/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  frontend/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.webp
  frontend/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  frontend/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  frontend/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.webp
  frontend/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  frontend/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  frontend/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.webp
  frontend/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  frontend/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  frontend/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.webp
  frontend/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  frontend/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  frontend/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.webp
  frontend/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  frontend/pubspec.yaml
Due: frontend

Bumping version to 0.1.32
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

readd package mode as docker builds fail without
  backend/pyproject.toml
Due: backend

update soem package in backend
  backend/poetry.lock
Due: backend

Bumping version to 0.1.33
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

make poetry export explicit
  backend/build.py
Due: backend

fix build script
  backend/build.py
Due: backend

add error out
  backend/build.py
Due: backend

Rename build.py as it was conflicting with the new release of peotry
  backend/build_shiv.py
  server/bin/deploy_zest
Due: backend

Fix escape error
  backend/build_shiv.py
Due: backend

add pushstore as separate workflow
  .github/workflows/push-playstore.yaml
  .github/workflows/release.yml
Due: none

Assume status complete for android push
  .github/workflows/push-playstore.yaml
Due: none

Bumping version to 0.1.34
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Improve kill command in deploy zest
  server/bin/deploy_zest
Due: none

Fix deploy zest
  server/bin/deploy_zest
Due: none

Adding echo to deploy_zest
  server/bin/deploy_zest
Due: none

Bumping version to 0.1.35
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Correct trackname
  .github/workflows/push-playstore.yaml
Due: none

Bumping version to 0.1.36
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

do not sent changes automatically for review
  .github/workflows/push-playstore.yaml
Due: none

Bumping version to 0.1.37
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

update backend dependencies
  backend/poetry.lock
Due: backend

Extend settings to account for a chatgpt apikey
  frontend/lib/settings/settings_provider.dart
  frontend/lib/settings/settings_screen.dart
Due: frontend
