Repository dbadrian/zest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix intent filter android
  backend/uv.lock
  frontend/android/app/src/main/AndroidManifest.xml
Due: backend, frontend

Bumping version to 0.1.79
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

improve ui on edit screen
  backend/uv.lock
  frontend/lib/recipes/screens/recipe_edit.dart
Due: backend, frontend

Fix some android/mobile bugs
  backend/scripts/force_unlock.py
  frontend/lib/core/network/api_exception.dart
  frontend/lib/recipes/screens/recipe_details.dart
  frontend/lib/ui/main_scaffold.dart
Due: backend, frontend

Fix some android/mobile bugs/2
  frontend/lib/ui/main_scaffold.dart
Due: frontend

Bumping version to 0.1.80
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Order units
  backend/uv.lock
  frontend/lib/config/constants.dart
  frontend/lib/recipes/screens/recipe_edit.dart
Due: backend, frontend

Bumping version to 0.1.81
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

yolo fix the await for add/delete documents from meilisearch
  backend/app/recipes/search.py
  backend/uv.lock
Due: backend

Bumping version to 0.1.82
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

add support for url parsing [experimental]
  backend/app/recipes/gemini.py
  backend/app/recipes/routes.py
  backend/uv.lock
  frontend/lib/api/api_service.dart
  frontend/lib/core/network/http_client.dart
  frontend/lib/ui/main_scaffold.dart
Due: backend, frontend

Bumping version to 0.1.83
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Bumping version to 0.2.0
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

bump version for flutter deploy due to git history rewrite
  backend/uv.lock
  bump_version.sh
Due: backend

Bumping version to 0.2.1
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

drop mail test; credentials are removed
  backend/mailtest.py
  backend/uv.lock
Due: backend

Tidy files
  TODO.md
Due: none

add languages and recipe translation
  backend/Taskfile.yml
  backend/app/recipes/constants.py
  backend/app/recipes/gemini.py
  backend/app/recipes/routes.py
  backend/app/recipes/schemas.py
  backend/todo.md
  frontend/lib/api/api_service.dart
  frontend/lib/config/constants.dart
  frontend/lib/main.dart
  frontend/lib/recipes/controller/providers.dart
  frontend/lib/recipes/controller/search_controller.dart
  frontend/lib/recipes/screens/recipe_details.dart
  frontend/lib/recipes/screens/recipe_edit.dart
  frontend/lib/ui/main_scaffold.dart
  frontend/lib/utils/languages.dart
  frontend/pubspec.lock
  frontend/pubspec.yaml
Due: backend, frontend

Bumping version to 0.2.2
  backend/app/version.py
  backend/pyproject.toml
  backend/tests/test_recipe_validators.py
  backend/uv.lock
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

adding another upgrade package
  backend/todo.md
  frontend/lib/ui/main_scaffold.dart
  frontend/pubspec.lock
  frontend/pubspec.yaml
Due: backend, frontend

Bumping version to 0.2.3
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Fix reloading of search after recipe delete
  backend/app/recipes/search.py
  backend/todo.md
  backend/uv.lock
  frontend/lib/recipes/screens/recipe_details.dart
Due: backend, frontend

Bumping version to 0.2.4
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Improve the saving behavior of the editor
  .gitignore
  backend/uv.lock
  frontend/lib/recipes/screens/recipe_edit.dart
Due: backend, frontend

Fix the android icons
  frontend/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  frontend/pubspec.lock
  frontend/pubspec.yaml
Due: frontend

Bumping version to 0.2.5
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

add upgrade to router
  backend/uv.lock
  frontend/lib/main.dart
  frontend/lib/ui/main_scaffold.dart
Due: backend, frontend

Bumping version to 0.2.6
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

trying to make things explicit and shared settings
  backend/uv.lock
  frontend/lib/main.dart
  frontend/lib/utils/persistance.dart
Due: backend, frontend

Bumping version to 0.2.7
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Fix the reload wipe error
  backend/uv.lock
  frontend/lib/authentication/auth_service.dart
Due: backend, frontend

Bumping version to 0.2.8
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

add new already verified screen
  backend/app/auth/auth.py
  backend/static/email-verification-already-verified.html
  backend/uv.lock
Due: backend

Add password reset logic etc
  backend/app/auth/auth.py
  backend/app/auth/email.py
  backend/app/auth/schemas.py
  backend/app/auth/security_utils.py
  backend/app/core/config.py
  backend/app/core/mail.py
  backend/docker-compose.override.yml
  frontend/lib/authentication/auth_service.dart
  frontend/lib/core/network/http_client.dart
  frontend/lib/ui/login_screen.dart
Due: backend, frontend

Fix to https
  backend/app/auth/auth.py
Due: backend

Bumping version to 0.2.9
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

adding forgotten files
  backend/static/password-change-failure.html
  backend/static/password-reset-request.html
  backend/static/password-reset.html
  backend/uv.lock
Due: backend

Bumping version to 0.2.10
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

disable static file serving in production and add the copying to the html folder
  backend/app/main.py
  backend/uv.lock
  server/deploy_zest_impl
Due: backend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
