Repository dbadrian/zest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
    patch:
      backend:
        target: 50%
        flags:
          - backend
      frontend:
        target: 50%
        flags:
          - frontend

comment:
  layout: "diff, flags, files"

flags:
  backend:
    carryforward: false
    paths:
      - backend/
  frontend:
    carryforward: false
    paths:
      - frontend/

github_checks:
  annotations: true

recreate windows
  backend/uv.lock
  frontend/.metadata
Due: backend, frontend

Optimizing windows build workflow
  .github/workflows/build-windows.yaml
Due: none

modify linux build
  .github/workflows/build-linux.yaml
  frontend/Dockerfile
  frontend/PKGBUILD
Due: frontend

Bumping version to 0.1.53
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Fix windows workflow...
  .github/workflows/build-windows.yaml
  backend/uv.lock
Due: backend

develop on deploy script
  server/bin/deploy_zest
Due: none

develop on deploy script/2
  server/bin/deploy_zest
Due: none

develop on deploy script/3
  server/bin/deploy_zest
Due: none

Password encode to handle complex password in sqlalchemy postgres url
  backend/app/core/config.py
  docs/docs/setup/hetzner.md
  server/bin/deploy_zest
Due: backend

Bumping version to 0.1.54
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Fix a few more issues
  backend/app/core/config.py
  backend/app/main.py
  backend/uv.lock
  server/bin/deploy_zest
Due: backend

Bumping version to 0.1.55
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

A few more fixes for deployment
  backend/uv.lock
  server/bin/deploy_zest
  server/bin/deploy_zest_impl
Due: backend

Bumping version to 0.1.56
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Add gunicorn and config
  backend/gunicorn.conf.py
  backend/pyproject.toml
  backend/uv.lock
  server/bin/deploy_zest_impl
Due: backend

refactoring
  server/deploy_zest_impl
  server/zest.service
Due: none

Bumping version to 0.1.57
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

fix deploy zest
  backend/uv.lock
  server/bin/deploy_zest
Due: backend

fix service
  server/zest.service
Due: none

fix service/2
  docs/docs/setup/hetzner.md
  server/zest.service
Due: none

fix service/3
  server/zest.service
Due: none

update docs kinda
  docs/docs/setup/hetzner.md
Due: none

Bumping version to 0.1.58
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Fix the deploy script hopefully
  backend/uv.lock
  docs/docs/setup/hetzner.md
  server/deploy_zest_impl
  server/zest.service
Due: backend

make sqlalchemy quiet in production
  backend/app/db.py
Due: backend

improv deploy zest
  server/deploy_zest_impl
Due: none

add meilisearch to the docs
  docs/docs/setup/hetzner.md
Due: none

Bumping version to 0.1.59
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

fix deploy zest forgotten env
  backend/uv.lock
  docs/docs/setup/hetzner.md
  server/deploy_zest_impl
Due: backend

Bumping version to 0.1.60
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

fix deploy again
  backend/uv.lock
  docs/docs/setup/hetzner.md
  server/deploy_zest_impl
Due: backend

Bumping version to 0.1.61
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Add mail support function
  backend/app/core/config.py
  backend/app/core/mail.py
  backend/fixtures/units.json.bak
  backend/fixtures/write_ids.py
  backend/pyproject.toml
  backend/uv.lock
Due: backend

fix the service reload
  server/deploy_zest_impl
Due: none

Bumping version to 0.1.62
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

test testworkflow v2
  .github/workflows/build-android.yaml
  .github/workflows/build-docker.yaml
  .github/workflows/build-windows.yaml
  .github/workflows/test.yml
  backend/uv.lock
Due: backend

test testworkflow v2/2
  .github/workflows/test.yml
Due: none

test testworkflow v2/3
  .github/workflows/test.yml
  server/deploy_zest_impl
Due: none

test testworkflow v2/4
  .github/workflows/test.yml
Due: none

test testworkflow v2/5
  .github/workflows/test.yml
Due: none
