Repository dbadrian/zest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
    patch:
      backend:
        target: 50%
        flags:
          - backend
      frontend:
        target: 50%
        flags:
          - frontend

comment:
  layout: "diff, flags, files"

flags:
  backend:
    carryforward: false
    paths:
      - backend/
  frontend:
    carryforward: false
    paths:
      - frontend/

github_checks:
  annotations: true

Update gitginore
  .gitignore
Due: none

Bumping version to 0.1.0
  backend/pyproject.toml
  backend/zest/version.py
  frontend/pubspec.yaml
Due: backend, frontend

Bumping version to 0.1.0
  frontend/pubspec.yaml
Due: frontend

Remove legacy makefile
  Makefile
Due: none

Bumping version to 0.1.1
  backend/pyproject.toml
  backend/zest/version.py
  frontend/pubspec.yaml
Due: backend, frontend

Correct artifact path in workflow
  .github/workflows/release.yml
Due: none

Bumping version to 0.1.1-2
  backend/pyproject.toml
  backend/zest/version.py
  frontend/pubspec.yaml
Due: backend, frontend

Improve release naming for android app and include linux artifacts
  .github/workflows/release.yml
Due: none

Bumping version to 0.1.1-3
  backend/pyproject.toml
  backend/zest/version.py
  frontend/pubspec.yaml
Due: backend, frontend

Make linux-build an explicit dependency of the releasestep
  .github/workflows/release.yml
Due: none

Debugging the broken? linxu release path
  .github/workflows/release.yml
  frontend/Dockerfile
Due: frontend

Bumping version to 0.1.1-4
  backend/pyproject.toml
  backend/zest/version.py
  frontend/pubspec.yaml
Due: backend, frontend

Debugging the broken? linxu release path/2
  .github/workflows/release.yml
  frontend/Dockerfile
Due: frontend

Bumping version to 0.1.1-5
  backend/pyproject.toml
  backend/zest/version.py
  frontend/pubspec.yaml
Due: backend, frontend

Debugging the broken? linxu release path/3
  .github/workflows/release.yml
Due: none

Bumping version to 0.1.1-6
  backend/pyproject.toml
  backend/zest/version.py
  frontend/pubspec.yaml
Due: backend, frontend

Bit more clean up on release building
  .github/workflows/release.yml
Due: none

Bumping version to 0.1.1-7
  backend/pyproject.toml
  backend/zest/version.py
  frontend/pubspec.yaml
Due: backend, frontend

adding pkgbuild to bumpverison
  bump_version.sh
  frontend/PKGBUILD
Due: frontend

Bumping version to 0.1.1-8
  backend/pyproject.toml
  backend/zest/version.py
  frontend/pubspec.yaml
Due: backend, frontend

adding pkgbuild to bumpverison/2
  bump_version.sh
  frontend/PKGBUILD
Due: frontend

Bumping version to 0.1.1-9
  backend/pyproject.toml
  backend/zest/version.py
  frontend/pubspec.yaml
Due: backend, frontend

adding pkgbuild to bumpverison/3
  bump_version.sh
  frontend/Dockerfile
  frontend/PKGBUILD
Due: frontend

Bumping version to 0.1.1-10
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Bumping version to 0.1.2
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

adding pkgbuild to bumpverison/4
  .github/workflows/release.yml
  frontend/Dockerfile
Due: frontend

Bumping version to 0.1.3
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Adding sig to release of pkgbuild
  .github/workflows/release.yml
Due: none

Bumping version to 0.1.4
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Fixing incorrect check getting user from storage
  frontend/lib/authentication/auth_service.dart
  frontend/lib/authentication/auth_token.dart
  frontend/lib/recipes/screens/recipe_edit.dart
  frontend/lib/ui/main_scaffold.dart
  frontend/lib/utils/model_storage.dart
  frontend/lib/utils/networking.dart
  frontend/pubspec.lock
Due: frontend

Bumping version to 0.1.5
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Fix loading indicator on recipe-search widget
  frontend/lib/recipes/controller/search_controller.dart
  frontend/lib/recipes/screens/recipe_search.dart
Due: frontend

Bumping version to 0.1.6
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Accept enter press in password field as command to login
  frontend/lib/ui/login_screen.dart
Due: frontend

Correctly insert onwer comment into recipe from json input
  frontend/lib/recipes/controller/edit_controller.dart
Due: frontend

Bumping version to 0.1.7
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Adjust bump_version for android to add magic number to allow updated release
  bump_version.sh
Due: none

Bumping version to 0.1.8
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend
