Repository dbadrian/zest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Adapt flutter classes to new translatin system
  backend/app/recipes/models.py
  backend/app/recipes/schemas.py
  frontend/lib/recipes/models/recipe.dart
  frontend/lib/recipes/screens/recipe_details.dart
  frontend/lib/recipes/screens/recipe_edit.dart
Due: backend, frontend

Bumping version to 0.2.27
  backend/app/version.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Reenabling frontend tests
  .github/workflows/test.yml
Due: none

re uneenabling frontend tests
  .github/workflows/test.yml
Due: none

Fix schema for recipe read
  backend/app/recipes/schemas.py
Due: backend

Bumping version to 0.2.28
  backend/app/version.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Move translations and original_recipe to ReicpeReadHeader schema:
  backend/app/recipes/schemas.py
  frontend/lib/recipes/screens/recipe_details.dart
Due: backend, frontend

Bumping version to 0.2.29
  backend/app/version.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Fix the recipe family, but failing to represent the whole graph at each level
  backend/app/recipes/schemas.py
  frontend/lib/recipes/models/recipe.dart
  frontend/lib/recipes/screens/recipe_details.dart
Due: backend, frontend

Bumping version to 0.2.30
  backend/app/version.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Add glasses as new unit and to translations
  backend/app/data/multilingual.json
  backend/fixtures/recipe_categories.json
  backend/fixtures/units.json
Due: backend

add two helper scripts and fix typo
  backend/app/data/multilingual.json
  backend/scripts/manual_gemini.py
  backend/scripts/recipe_from_json.py
Due: backend

refactor gemini
  backend/app/recipes/gemini.py
  backend/app/recipes/routes.py
Due: backend

add another script for generating new db entries easily
  backend/scripts/create_new_model_entry.py
Due: backend

Bumping version to 0.2.31
  backend/app/version.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Improve unit search by considering abbreviations
  frontend/lib/recipes/screens/recipe_edit.dart
Due: frontend

Filter units for now in hardcoded fashion
  frontend/lib/recipes/screens/recipe_edit.dart
  frontend/pubspec.lock
Due: frontend

update script to allow to set id as autoincrement seems broken
  backend/scripts/create_new_model_entry.py
Due: backend

Bumping version to 0.2.32
  backend/app/version.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

add missing translation; fix recipe language initialization
  backend/app/data/multilingual.json
  frontend/lib/recipes/screens/recipe_edit.dart
Due: backend, frontend

Fixing updat for windows
  frontend/lib/main.dart
  frontend/lib/ui/main_scaffold.dart
Due: frontend

Fix show user recipe only filter button
  frontend/lib/recipes/controller/search_controller.dart
  frontend/lib/recipes/screens/recipe_search.dart
Due: frontend

Android update check
  frontend/lib/ui/splash_screen.dart
  frontend/pubspec.lock
  frontend/pubspec.yaml
Due: frontend

Bumping version to 0.2.33
  backend/app/version.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Clean up list tile
  frontend/lib/recipes/screens/recipe_list_tile.dart
Due: frontend

Ensure index is build for meileisearhc
  backend/app/recipes/search.py
Due: backend

Bumping version to 0.2.34
  backend/app/version.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Ensuring that umlaut filepaths do not cause trouble in gemini
  backend/app/recipes/gemini.py
Due: backend

update backup script ot be compatible with new fastapi version
  server/bin/backup_zest_db
Due: none

add missing script and back route change???"
  backend/app/recipes/routes.py
  backend/scripts/find_duplicates.py
Due: backend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
