Repository dbadrian/zest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
    patch:
      backend:
        target: 50%
        flags:
          - backend
      frontend:
        target: 50%
        flags:
          - frontend

comment:
  layout: "diff, flags, files"

flags:
  backend:
    carryforward: false
    paths:
      - backend/
  frontend:
    carryforward: false
    paths:
      - frontend/

github_checks:
  annotations: true

First stab of integrating a pdf load, extract, and chatgpt inference routine
  .github/workflows/push-playstore.yaml
  frontend/lib/recipes/screens/recipe_edit.dart
  frontend/macos/Flutter/GeneratedPluginRegistrant.swift
  frontend/pubspec.lock
  frontend/pubspec.yaml
  frontend/test/shared_routines.dart
Due: frontend

Fix poetry clear cache command
  docker/main.Dockerfile
Due: none

update deps for backend
  backend/poetry.lock
Due: backend

update frontend deps
  frontend/pubspec.lock
Due: frontend

Bumping version to 0.1.38
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

update analyzer spec override to fix compile error in riverpod: temporay fix
  frontend/pubspec.yaml
Due: frontend

add assets
  assets/feature_graphic.png
  assets/zest.png
  frontend/lib/settings/settings_provider.dart
  frontend/linux/CMakeLists.txt
  frontend/pubspec.lock
Due: frontend

Bumping version to 0.1.39
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Fix tests locally
  frontend/linux/flutter/generated_plugin_registrant.cc
  frontend/linux/flutter/generated_plugins.cmake
  frontend/macos/Flutter/GeneratedPluginRegistrant.swift
  frontend/pubspec.lock
  frontend/test/integration_test/login_test.dart
  frontend/windows/flutter/generated_plugin_registrant.cc
  frontend/windows/flutter/generated_plugins.cmake
Due: frontend

Bumping version to 0.1.40
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Switch frontend tests to concurrency 1 to avoid db lock
  .github/workflows/test.yml
Due: none

Bumping version to 0.1.41
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

update android app
  frontend/android/.gitignore
  frontend/android/app/build.gradle
  frontend/android/app/build.gradle.kts
  frontend/android/app/src/main/ic_launcher-playstore.png
  frontend/android/app/src/main/kotlin/com/example/fluttertest/MainActivity.kt
  frontend/android/app/src/main/kotlin/com/example/zest/MainActivity.kt
  frontend/android/app/src/main/res/drawable/ic_launcher_background.xml
  frontend/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  frontend/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  frontend/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  frontend/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.webp
  frontend/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  frontend/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  frontend/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.webp
  frontend/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  frontend/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  frontend/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.webp
  frontend/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  frontend/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  frontend/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.webp
  frontend/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  frontend/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  frontend/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.webp
  frontend/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  frontend/android/build.gradle
  frontend/android/build.gradle.kts
  frontend/android/gradle.properties
  frontend/android/gradle/wrapper/gradle-wrapper.properties
  frontend/android/settings.gradle
  frontend/android/settings.gradle.kts
Due: frontend

Bumping version to 0.1.42
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

fix android settings hopefully
  frontend/android/app/build.gradle.kts
  frontend/android/app/src/main/kotlin/com/example/fluttertest/MainActivity.kt
Due: frontend

Bumping version to 0.1.43
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

remove playstore setting
  .github/workflows/push-playstore.yaml
Due: none

Bumping version to 0.1.44
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

windows cert doc
  docs/docs/various/windows_cert_setup.md
Due: none

Refactor logic for recipe editor: instruction field
  frontend/lib/recipes/controller/edit_controller.dart
  frontend/lib/recipes/screens/widgets/instruction_form.dart
  frontend/lib/recipes/screens/widgets/instruction_form_legacy.dart
Due: frontend

Add preview mode for instructions in recipe editor
  frontend/lib/recipes/screens/recipe_details.dart
  frontend/lib/recipes/screens/widgets/instruction_form.dart
Due: frontend

Ui cleanup and some other cleanup
  frontend/lib/recipes/screens/recipe_edit.dart
  frontend/lib/recipes/screens/widgets/ingredient_form.dart
  frontend/lib/recipes/screens/widgets/instruction_form.dart
  frontend/lib/settings/settings_screen.dart
Due: frontend

fix task
  Taskfile.yml
Due: none

Bumping version to 0.1.45
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Bumping version to 0.1.46
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

fix tests and revert collapse of sources in edit view
  frontend/lib/recipes/screens/recipe_edit.dart
  frontend/test/integration_test/recipe_create_test.dart
Due: frontend

Bumping version to 0.1.47
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Add gemini support for recipe from image,pdf, and url
  frontend/lib/recipes/screens/recipe_edit.dart
  frontend/lib/settings/settings_provider.dart
  frontend/lib/settings/settings_screen.dart
  frontend/lib/utils/interceptors.dart
  frontend/macos/Flutter/GeneratedPluginRegistrant.swift
  frontend/pubspec.lock
  frontend/pubspec.yaml
Due: frontend

Add gemini code
  frontend/lib/extra/gemini.dart
Due: frontend

wrap up gemini
  backend/recipes/fixtures/recipe_categories.json
  frontend/lib/api/api_status_provider.dart
  frontend/lib/extra/gemini.dart
  frontend/lib/recipes/controller/details_controller.dart
  frontend/lib/recipes/controller/edit_controller.dart
  frontend/lib/recipes/screens/recipe_details.dart
  frontend/lib/recipes/screens/recipe_edit.dart
  frontend/lib/utils/utils.dart
Due: backend, frontend

add new network core lib
  frontend/lib/core/network/api_exception.dart
  frontend/lib/core/network/api_response.dart
  frontend/lib/core/network/http_client.dart
  frontend/lib/core/network/interceptor.dart
  frontend/lib/core/network/interceptors/logging_interceptor.dart
Due: frontend

starting on new auth implementation
  frontend/lib/authentication/auth.dart
  frontend/lib/authentication/auth_interceptor.dart
  frontend/lib/authentication/auth_service.dart
  frontend/lib/authentication/auth_state.dart
  frontend/lib/authentication/auth_state_storage.dart
  frontend/lib/authentication/auth_token.dart
  frontend/lib/authentication/auth_token_storage.dart
  frontend/lib/authentication/user.dart
  frontend/lib/core/network/http_client.dart
  frontend/lib/utils/model_storage.dart
Due: frontend

add search mode back
  frontend/lib/api/api_service.dart
  frontend/lib/api/responses/recipe_list_response.dart
  frontend/lib/core/network/http_client.dart
  frontend/lib/core/providers/http_client_provider.dart
  frontend/lib/main.dart
  frontend/lib/recipes/controller/details_controller.dart
  frontend/lib/recipes/controller/search_controller.dart
  frontend/lib/recipes/models/recipe.dart
  frontend/lib/recipes/recipe_repository.dart
  frontend/lib/recipes/screens/recipe_details.dart
  frontend/lib/recipes/screens/recipe_search.dart
  frontend/lib/routing/app_router.dart
Due: frontend

bunch of refactoring...
  frontend/lib/api/api_service.dart
  frontend/lib/api/responses/unit_list_response.dart
  frontend/lib/core/network/http_client.dart
  frontend/lib/recipes/controller/details_controller.dart
  frontend/lib/recipes/controller/search_controller.dart
  frontend/lib/recipes/models/recipe.dart
  frontend/lib/recipes/recipe_repository.dart
  frontend/lib/recipes/screens/recipe_details.dart
  frontend/lib/recipes/screens/recipe_list_tile.dart
  frontend/lib/recipes/screens/recipe_search.dart
  frontend/lib/recipes/static_data_repository.dart
  frontend/lib/settings/knowledge_provider.dart
  frontend/lib/ui/main_scaffold.dart
Due: frontend

fix login loop for now
  frontend/lib/authentication/auth_interceptor.dart
  frontend/lib/authentication/auth_service.dart
  frontend/lib/core/network/api_exception.dart
  frontend/lib/core/network/http_client.dart
  frontend/lib/core/providers/http_client_provider.dart
  frontend/lib/routing/app_router.dart
Due: frontend

shit laod of editsgit add lib/api/responses/multilingual_data_response.dart lib/recipes/screens/edit_new.dart! edits...get it??
  frontend/lib/api/api_service.dart
  frontend/lib/api/responses/food_list_response.dart
  frontend/lib/api/responses/multilingual_data_response.dart
  frontend/lib/core/network/http_client.dart
  frontend/lib/recipes/controller/edit_controller.dart
  frontend/lib/recipes/models/food.dart
  frontend/lib/recipes/models/recipe_draft.dart
  frontend/lib/recipes/screens/edit_new.dart
  frontend/lib/recipes/static_data_repository.dart
  frontend/lib/routing/app_router.dart
  frontend/lib/ui/main_scaffold.dart
  frontend/pubspec.lock
  frontend/pubspec.yaml
Due: frontend

dunno what i fixed dont care
  frontend/lib/recipes/models/recipe_draft.dart
  frontend/lib/recipes/recipe_repository.dart
  frontend/lib/recipes/screens/edit_new.dart
Due: frontend

unfuck the repr in details a bit
  frontend/lib/recipes/screens/edit_new.dart
  frontend/lib/recipes/screens/recipe_details.dart
  frontend/lib/recipes/screens/recipe_edit.dart
  frontend/lib/routing/app_router.dart
Due: frontend
