Repository dbadrian/zest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
    patch:
      backend:
        target: 50%
        flags:
          - backend
      frontend:
        target: 50%
        flags:
          - frontend

comment:
  layout: "diff, flags, files"

flags:
  backend:
    carryforward: false
    paths:
      - backend/
  frontend:
    carryforward: false
    paths:
      - frontend/

github_checks:
  annotations: true

test testworkflow v2/6
  .github/workflows/test.yml
Due: none

test testworkflow v2/7
  .github/workflows/test.yml
Due: none

test testworkflow v2/revert
  .github/workflows/test.yml
Due: none

Bumping version to 0.1.63
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

reset default values for now
  backend/uv.lock
  frontend/lib/config/zest_api.dart
  frontend/lib/ui/login_screen.dart
Due: backend, frontend

Bumping version to 0.1.64
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

disable currently broken frontend test
  backend/uv.lock
  frontend/test/integration_test/login_test.dart
Due: backend, frontend

Bumping version to 0.1.65
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

making ui a bit more response for settings
  backend/uv.lock
  frontend/lib/settings/settings_screen.dart
Due: backend, frontend

Bumping version to 0.1.66
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Some routing fixes for setting pages
  backend/uv.lock
  frontend/lib/settings/settings_provider.dart
  frontend/lib/settings/settings_screen.dart
  frontend/lib/ui/login_screen.dart
  frontend/lib/ui/main_scaffold.dart
Due: backend, frontend

various backend fixes and frontend login (lastuser) feature
  backend/app/core/config.py
  backend/scripts/index_data.py
  docs/docs/setup/hetzner.md
  frontend/lib/authentication/auth_service.dart
  frontend/lib/authentication/auth_state_storage.dart
  frontend/lib/authentication/user_storage.dart
  frontend/lib/settings/settings_provider.dart
  frontend/lib/settings/settings_screen.dart
  frontend/lib/ui/login_screen.dart
  frontend/lib/utils/persistance.dart
Due: backend, frontend

Bumping version to 0.1.67
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

add camera back; fix constant for czech language
  backend/uv.lock
  frontend/lib/config/constants.dart
  frontend/lib/ui/main_scaffold.dart
Due: backend, frontend

Bumping version to 0.1.68
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

fix gemini key removal
  backend/app/recipes/gemini.py
  backend/uv.lock
  frontend/lib/recipes/screens/recipe_edit.dart
  frontend/lib/recipes/screens/widgets/ingredient_form.dart
  frontend/lib/recipes/screens/widgets/instruction_form.dart
  frontend/lib/recipes/screens/widgets/instruction_form_legacy.dart
  frontend/lib/settings/settings_provider.dart
Due: backend, frontend

Drop direct camera support
  frontend/lib/ui/main_scaffold.dart
Due: frontend

minor clean up in edit ui
  frontend/lib/main.dart
  frontend/lib/recipes/screens/recipe_edit.dart
Due: frontend

Bumping version to 0.1.69
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Search through correct language in units
  backend/uv.lock
  frontend/lib/recipes/screens/recipe_edit.dart
  frontend/lib/recipes/static_data_repository.dart
Due: backend, frontend

Bumping version to 0.1.70
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Fix index_data reference in taskyml
  backend/Taskfile.yml
  backend/uv.lock
Due: backend

Bumping version to 0.1.71
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

disable frontend test
  .github/workflows/test.yml
  backend/uv.lock
Due: backend

Bumping version to 0.1.72
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

remove google services; add deeplink support
  backend/uv.lock
  frontend/android/app/google-services.json
  frontend/android/app/src/main/AndroidManifest.xml
Due: backend, frontend

no loading in recipe infinite scroll
  frontend/lib/recipes/controller/search_controller.dart
  frontend/lib/recipes/screens/recipe_draft_search.dart
  frontend/lib/recipes/screens/recipe_search.dart
Due: frontend

Bumping version to 0.1.73
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Fix settings filter including fav only
  backend/uv.lock
  frontend/lib/api/api_service.dart
  frontend/lib/recipes/controller/search_controller.dart
  frontend/lib/recipes/screens/recipe_search.dart
Due: backend, frontend

Removing all sqlite references for now, due to crashes on mobile app and because its effectively dead code
  frontend/lib/core/cache/cache_manager.dart
  frontend/lib/core/cache/cache_providers.dart
  frontend/lib/core/cache/persistent_cache.dart
  frontend/lib/main.dart
  frontend/lib/recipes/recipe_repository.dart
  frontend/linux/flutter/generated_plugin_registrant.cc
  frontend/linux/flutter/generated_plugins.cmake
  frontend/macos/Flutter/GeneratedPluginRegistrant.swift
  frontend/pubspec.lock
  frontend/pubspec.yaml
  frontend/test/integration_test/login_test.dart
  frontend/test/integration_test/recipe_create_test.dart
  frontend/test/shared_routines.dart
  frontend/windows/flutter/generated_plugin_registrant.cc
  frontend/windows/flutter/generated_plugins.cmake
Due: frontend

Bumping version to 0.1.74
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Fix auth client provider cycle
  backend/uv.lock
  frontend/lib/api/api_service.dart
  frontend/lib/api/api_status_provider.dart
  frontend/lib/authentication/auth_service.dart
  frontend/lib/core/providers/http_client_provider.dart
  frontend/lib/ui/login_screen.dart
Due: backend, frontend

Fix the api status provider
  frontend/lib/api/api_status_provider.dart
Due: frontend

Bumping version to 0.1.75
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

make recipe search the default
  backend/uv.lock
  frontend/lib/ui/login_screen.dart
Due: backend, frontend

Bumping version to 0.1.76
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

small ui improvements; skip homeroute on login
  backend/uv.lock
  frontend/lib/recipes/screens/recipe_details.dart
  frontend/lib/settings/settings_provider.dart
  frontend/lib/ui/login_screen.dart
Due: backend, frontend

Bumping version to 0.1.77
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Fix filtersettings language filter
  backend/uv.lock
  frontend/lib/recipes/controller/search_controller.dart
  frontend/lib/recipes/screens/recipe_details.dart
  frontend/lib/recipes/screens/recipe_search.dart
  frontend/lib/ui/splash_screen.dart
Due: backend, frontend

Bumping version to 0.1.78
  backend/app/version.py
  backend/pyproject.toml
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend
