Repository dbadrian/zest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
    patch:
      backend:
        target: 50%
        flags:
          - backend
      frontend:
        target: 50%
        flags:
          - frontend

comment:
  layout: "diff, flags, files"

flags:
  backend:
    carryforward: false
    paths:
      - backend/
  frontend:
    carryforward: false
    paths:
      - frontend/

github_checks:
  annotations: true

Only show delete button, if delete function is set on recipe list tile
  frontend/lib/recipes/screens/recipe_details.dart
  frontend/lib/recipes/screens/recipe_list_tile.dart
  frontend/pubspec.lock
Due: frontend

Display food description as tooltip, at least on PC
  frontend/lib/recipes/screens/recipe_details.dart
Due: frontend

Fixed missing deletion of food/unit on change of field text; fixed deletion of ingredients due to unmodifieable list error
  frontend/lib/recipes/controller/edit_controller.dart
  frontend/lib/recipes/screens/recipe_edit.dart
  frontend/lib/recipes/screens/widgets/ingredient_form.dart
Due: frontend

Bumping version to 0.1.9
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Attempt direct release to internal track in android release
  .github/workflows/release.yml
Due: none

Bumping version to 0.1.10
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

[REVERT] Attempt direct release to internal track in android release
  .github/workflows/release.yml
Due: none

Bumping version to 0.1.11
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Starting on some basic integration testing
  frontend/lib/routing/app_router.dart
  frontend/lib/ui/login_screen.dart
  frontend/lib/ui/main_scaffold.dart
  frontend/pubspec.lock
  frontend/pubspec.yaml
  frontend/test/integration_test/main_scaffold_test.dart
Due: frontend

Apply filtering on frontend lcov
  .github/workflows/test.yml
Due: none

Fix the login screen: set username texteditingcontroller correctly after first load
  frontend/lib/authentication/auth_service.dart
  frontend/lib/ui/login_screen.dart
Due: frontend

add updated login test
  frontend/lib/authentication/auth_service.dart
  frontend/lib/ui/login_screen.dart
  frontend/lib/utils/model_storage.dart
  frontend/test/integration_test/login_test.dart
Due: frontend

Drop unittest flag from coverage upload
  .github/workflows/test.yml
Due: none

Perform frontend tests against the dev container
  .github/workflows/test.yml
  frontend/lib/settings/settings_provider.dart
  frontend/pubspec.lock
  frontend/test/integration_test/login_test.dart
  frontend/test/widget_test.dart
Due: frontend

Correct backend-init command
  Taskfile.yml
Due: none

Correct backend-init command for CI
  .github/workflows/test.yml
  Taskfile.yml
Due: none

Test running in background
  .github/workflows/test.yml
Due: none

commit pubspec lock
  frontend/pubspec.lock
Due: frontend

Add account adapter to disable user registration
  backend/users/account_adapter.py
  backend/zest/settings/base/auth.py
Due: backend

Disable registration of users
  backend/users/registration.py
  backend/users/tests.py
  backend/zest/settings/base/apps.py
  backend/zest/settings/base/auth.py
  backend/zest/settings/dev.py
Due: backend

Add language flag on search
  frontend/lib/recipes/controller/edit_controller.dart
  frontend/lib/recipes/screens/recipe_edit.dart
  frontend/lib/recipes/screens/recipe_list_tile.dart
  frontend/lib/recipes/screens/recipe_search.dart
  frontend/pubspec.lock
  frontend/pubspec.yaml
Due: frontend

Fix the bug of the search fields: the behaviour does in theory work but the automatic refresh is incorrect
  frontend/lib/recipes/screens/recipe_search.dart
Due: frontend

Fix redirect bug after creating new recipe
  frontend/lib/recipes/screens/recipe_edit.dart
  frontend/lib/recipes/screens/recipe_search.dart
Due: frontend

Bumping version to 0.1.12
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Refactor initial integration/E2E test setup
  frontend/test/integration_test/login_test.dart
  frontend/test/integration_test/shared_routines.dart
Due: frontend

Adding ubuntu dependencies for flutter frontend
  .github/workflows/test.yml
Due: none

Add basic e2e test for recipe creation
  .github/workflows/test.yml
  frontend/lib/recipes/screens/recipe_details.dart
  frontend/lib/recipes/screens/recipe_edit.dart
  frontend/lib/recipes/screens/recipe_list_tile.dart
  frontend/lib/ui/main_scaffold.dart
  frontend/lib/utils/form_validators.dart
  frontend/test/integration_test/recipe_create_test.dart
Due: frontend

Fix package name for libsecret-dev
  .github/workflows/test.yml
Due: none

Add favorite icon if the recipe was favorited
  frontend/lib/recipes/screens/recipe_list_tile.dart
  frontend/lib/recipes/screens/recipe_search.dart
  frontend/pubspec.lock
Due: frontend

Add new docker-build.yaml workflow
  .github/workflows/build-docker.yaml
  docker-compose.yml
Due: none

Add new docker-build.yaml workflow/2
  .github/workflows/build-docker.yaml
Due: none

Fix build-docker.yaml: incorrect folder reference
  .github/workflows/build-docker.yaml
Due: none

Remove dash in docker-compose command
  .github/workflows/build-docker.yaml
Due: none

Add workflow dispatch
  .github/workflows/build-docker.yaml
Due: none

Forgot one more dash
  .github/workflows/build-docker.yaml
Due: none

Try explicit docker files
  docker-compose.yml
  docker/postgres.Dockerfile
  docker/redis.Dockerfile
Due: none

TEst only backend/nginx export
  .github/workflows/build-docker.yaml
Due: none

drop cache
  .github/workflows/build-docker.yaml
Due: none

define output type
  .github/workflows/build-docker.yaml
Due: none

check if export is already working?
  .github/workflows/build-docker.yaml
Due: none
