Repository dbadrian/zest: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
    patch:
      backend:
        target: 50%
        flags:
          - backend
      frontend:
        target: 50%
        flags:
          - frontend

comment:
  layout: "diff, flags, files"

flags:
  backend:
    carryforward: false
    paths:
      - backend/
  frontend:
    carryforward: false
    paths:
      - frontend/

github_checks:
  annotations: true

Update the bump script to be more generic to the user running it
  bump_version.sh
Due: none

Bumping version to 0.1.14
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

bump java version
  .github/workflows/release.yml
Due: none

Bumping version to 0.1.15
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

bump java version/2
  frontend/android/settings.gradle
Due: frontend

Bumping version to 0.1.16
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

bump java version/3
  .github/workflows/release.yml
Due: none

Bumping version to 0.1.17
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

separate out android for testing
  .github/workflows/build-android.yaml
  .github/workflows/build-docker.yaml
  .github/workflows/release.yml
Due: none

bump kotlin to later version
  frontend/android/settings.gradle
Due: frontend

bump javaversion req.
  frontend/android/app/build.gradle
Due: frontend

Tring another flutter config
  frontend/android/gradle/wrapper/gradle-wrapper.properties
  frontend/android/settings.gradle
Due: frontend

fix release flow
  .github/workflows/release.yml
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Pass secrets to workflow
  .github/workflows/release.yml
Due: none

Bumping version to 0.1.19
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Split up build files for worklows
  .github/workflows/build-linux.yaml
  .github/workflows/build-windows.yaml
  .github/workflows/release.yml
Due: none

Bumping version to 0.1.20
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Split up build files for worklows/2
  .github/workflows/build-windows.yaml
Due: none

Bumping version to 0.1.21
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Change fixture
  backend/users/fixtures/users.json
Due: backend

Bumping version to 0.1.22
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

add show password icon to login field
  frontend/lib/ui/login_screen.dart
Due: frontend

Update deploy zest script
  backend/poetry.lock
  backend/pyproject.toml
  docs/mkdocs.yml
  server/bin/deploy_zest
Due: backend

Update deploy zest script/2
  server/bin/deploy_zest
Due: none

Update deploy zest script/3
  server/bin/deploy_zest
Due: none

Fix up the gunicorn cfg
  backend/config/gunicorn/prod.py
Due: backend

Fix up the gunicorn cfg/2
  backend/config/gunicorn/prod.py
Due: backend

Update docs and backup script
  server/bin/backup_zest_db
Due: none

Adjust backup script user
  server/bin/backup_zest_db
Due: none

Bumping version to 0.1.23
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

separate out deploy workflow for manual dispatching
  .github/workflows/deploy-backend.yaml
Due: none

Fix deploy script: call to zest path invalid
  .github/workflows/release.yml
  server/bin/deploy_zest
Due: none

Bumping version to 0.1.24
  backend/pyproject.toml
  backend/zest/version.py
  frontend/PKGBUILD
  frontend/pubspec.yaml
Due: backend, frontend

Re-add gin index
  backend/foods/models.py
Due: backend

Add cusotm name for gin index
  backend/foods/models.py
Due: backend

add migrations
  .gitignore
  Taskfile.yml
  backend/favorites/migrations/0001_initial.py
  backend/favorites/migrations/0002_initial.py
  backend/favorites/migrations/__init__.py
  backend/foods/migrations/0001_initial.py
  backend/foods/migrations/0002_food_gin_index_name_de_food_gin_index_name_en_and_more.py
  backend/foods/migrations/__init__.py
  backend/recipes/migrations/0001_initial.py
  backend/recipes/migrations/0002_initial.py
  backend/recipes/migrations/__init__.py
  backend/shopping_lists/migrations/0001_initial.py
  backend/shopping_lists/migrations/0002_initial.py
  backend/shopping_lists/migrations/__init__.py
  backend/tags/migrations/0001_initial.py
  backend/tags/migrations/__init__.py
  backend/units/migrations/0001_initial.py
  backend/units/migrations/__init__.py
  backend/users/migrations/0001_initial.py
  backend/users/migrations/__init__.py
Due: backend

add hetzner setup documentation
  docs/docs/setup/hetzner.md
Due: none

update readme
  README.md
Due: none

refactor and attempt flutter async test fix for CI
  frontend/lib/ui/login_screen.dart
  frontend/test/integration_test/login_test.dart
  frontend/test/integration_test/recipe_create_test.dart
  frontend/test/shared_routines.dart
Due: frontend

fix the terrible frontend recipe creation test for the sake of CI
  frontend/test/integration_test/recipe_create_test.dart
Due: frontend
